@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Kufi+Arabic:wght@100..900&display=swap');


:root{
  --primary-color-text :  #000000;
   --secondary-color:yellow ;
}
*{
  padding: 0;margin: 0;box-sizing: border-box;}

  body{
    font-family: "Montserrat", sans-serif;

color: var(--primary-color-text);
  }
  .container{
    width: 95%;
    margin-inline: auto;
  }
.line__Top{
padding-inline: 10px;
background-color: var(--secondary-color);
height: 50px;
display: flex;
align-items: center;
justify-content: space-around;
font-size: 14px;
}
.line__Top img {
  width:  150px;
}
.line__top-right{
  display: flex;
  align-items: center;
  gap: 10px;
}
.line__Top-icons{
display: flex;
align-items: center;
justify-content: space-between;
font-size: 13px;


}

.line__Top-icon{
  display: flex;align-items: center;
  gap: 10px;

}
.line__Top-icon img{
width: 30px;
margin: 5px;
}


.navbar {
  background-color: #f8f9fa;
  padding: 5px 20px ;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  text-decoration: none;
  font-size: 1.5rem;
  color: #333;
}

.search-form {
  display: flex;
  align-items: center;
  width: 350px;
  position: relative;

}

.search-input {
  padding: 12px 25px;
  /* margin-right: 30px; */
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  border-radius: 16px;
  outline: none;


}
.search-input::placeholder{
  font-weight: 600;
  color: #222;
}


.icon__search{
position: absolute;
left: 5px;
font-size: 20px;
fill: #000;
}

.nav-links {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav-item {
margin: 10px;
  margin-right: 10px;
}

.nav-link {
  display: flex;
  gap: 5px;
  align-items: center;
  text-decoration: none;
  color: #333;
}

.nav-link:hover {
  color: #007bff;
}
.cart-icon{
  position: relative;
  }
  .cart-count{
    width: 20px;
    height: 20px;
    display: flex;align-items: center;
    justify-content: center;
    background: var(--secondary-color);
    border-radius: 50%;
    font-size: 16px;
  position: absolute;
  bottom: 20px;
  left:   20px;
  }



.menu {
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding:  15px;
}

.menu-item {
  margin-bottom: 5px;
}

.best-sellers {
  font-weight: bold;
}

.new-arrivals {
  font-style: italic;
}

.offer {
  color: red;
}
.product__Fetch{
  width: 90%;
  margin-inline: auto;
display: flex;
flex-direction: column;
}
.product__Fetch img{
  width: 100%;
  height: 600px;
}
.url__product{
  width: 100%;
height: 50px;
display: flex;
align-items: center;
padding-left: 50px;
box-shadow: 0px 0px 2px #a0a0a0 inset;

}
.product{
  width: 90%;
  margin-inline: auto;
  margin-top: 50px;
  gap: 50px;
display: flex; align-items: start;

}
.product__images{
  width: 100%;

}
.product__images img{
  border-radius: 6px;
  width: 100%;
  height: 475px;
}
.Details__product{
  gap: 10px;
  display: flex;
  flex-direction: column;

}
.Carousel__style{

  width: 100%;
  height: 200px;
}
.Details__product img{
  width: 80px;
}
.star__rating{
  display: flex;
  align-items: center;
  gap: 10px;
}
.rating{
  font-size: 14px;
font-weight: bold;
}
.stock{
  padding-left: 20px;
  font-size: 16px;
color: #333;
}

.slider-container {
  overflow: hidden;
  margin: 20px;
  width: 100%;
}
.slider-container div{
  width: 98%;

}
.slider-container .Slider{
  overflow: hidden;
}

.custom-slider div{
  overflow: hidden;
}
.custom-slider img{
  width: 100px;
  height: 100px;
}

/* ProductsList.css */

/* Product Container */
.product {
  display: flex;
  margin-bottom: 20px;
}


.Details__product {
  margin-left: 20px;
}

/* Logo */
.Details__product img {
  width: 50px;
  height: 50px;
}

/* Product Description */
.Details__product strong {
  font-weight: bold;
}

/* Star Rating */
.star__rating {
  margin-top: 10px;
}

/* Price */
.price {
  color: #542E90;
  font-size: 30px;
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Old Price */
.old-price {
  color: #A7A9AC;
  font-size: 20px;
}

/* Discount */
.discount {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFF200;
  color: #000000;
  font-size: 15px;
  padding-inline: 5px;
}

/* Size Section */
.size h3 {
  margin-top: 20px;
}

/* Size Options */
.size-options {
  display: flex;
  gap: 10px;
}

/* Highlighted Size */
.size-options .highlighted {
  background: #ECECEC;
}

/* Color Section */
.color h3 {
  margin-top: 20px;
}

/* Color Options */
.color-options {
  display: flex;
  gap: 10px;
}

/* Quantity Section */
.quantity h3 {
  margin-top: 20px;
}

/* Quantity Options */
.quantity-options {
  display: flex;
  gap: 10px;
}

/* Quantity Buttons */
.quantity-options button {
  cursor: pointer;
  background-color: #542E90;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}


/* Quantity Count */
.quantity-options span {
  font-size: 16px;
  font-weight: bold;
}

.buttons__count{
width: 200px;
display: flex;
align-items: center;
border: 0.5px solid #D9D9D9;
border-radius: 24px;
padding: 2px;
background: #F5F5F5 0% 0% no-repeat padding-box;
justify-content: space-between;
}
.button__count{
  width: 30px;
  font-size  : 12px;
  height: 30px;
  color: var(--primary-color-text);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--secondary-color);
  border: none;
}
.count{
  text-align: center;
  color: #542E90;
  font-weight: 600;
}

.buttons__cart{
  display: flex;
  margin-top: 10px;
  align-items: center;
gap: 15px;
}
.add__cart-Button{
  cursor: pointer;
  border-radius: 27px;
  opacity: 1;
  width: 200px;
height: 40px;
text-align: center;
letter-spacing: 0px;
opacity: 1;
border: none;
font-size:16px ;
font-weight: 600;
background: #FFF200 0% 0% no-repeat padding-box;
color: #000000;

}
.Pickup-Button{
  background: #542E90 0% 0% no-repeat padding-box;
  color: #FFFFFF;

  border-radius: 27px;
  opacity: 1;
  width: 200px;
height: 40px;
text-align: center;
letter-spacing: 0px;
opacity: 1;
border: none;
font-size:16px ;
font-weight: 600;
}
.slider {
  display: flex !important;
  flex-direction: row !important;
width: 100%;
}
.slick-slide{
  overflow: hidden;
}
 div {
  overflow: hidden ;

}
img.degree {
  position: absolute;
  top: 10px;
  margin-left: 10px;
}
.details{
  width: 250px;
  margin-top: 10px;
  margin-left: 10px;
font-size: 14px;
text-align: left;
letter-spacing: 0px;
color: #1D1D1B;
opacity: 1;
font-weight: 600;
}
.details_price{
  margin-top: 3px;
  margin-left: 10px;
color: #542E90;
font-weight: 600;
font-size: 20px;
text-align: left;
letter-spacing: 0px;
opacity: 1;
font-weight: 600;
}
.del_count{
  margin-top: 3px;
  margin-left: 10px;
color: #A7A9AC;
font-weight: 600;
font-size: 18px;
text-align: left;
letter-spacing: 0px;
opacity: 1;
font-weight: 600;
}
.details__product{
  margin-top: 5px;
  display: flex;
  align-items: center;

}
.star__ratingC{
  display: flex;

}
.footer {
  padding: 20px;
padding-inline: 50px;
background: #3C3C3B;
margin-top: 30px;
}
.All__Section-footer{
  display: flex;
  align-items: start;
  justify-content: space-around;
  gap: 10px;
}
.left_section{
  border-right: .5px solid #fff;
}
.left_section ul{
  display: flex;
  gap: 20px;
}
.left_section li{
  /* white-space: nowrap; */
color: #fff;
  /* text-overflow: ellipsis; */

}
.section__right{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.input_footer{
height: 48px;
width: 100%;
margin-inline: auto;
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 24px;
border:none;
padding:20px ;
}
.ul_left{
color: #FFFFFF;
display: flex;
flex-direction: column;
gap: 10px;


font-size: 16px;
}
.line {
  width: 2px;
  height: 200px;
  border-right: .5px solid #fff;
}
.ul_right{
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
}